.cabecalho {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 22pt;
}

.cabecalho svg {
    cursor: pointer;
}

.cabecalho svg:hover {
    filter: drop-shadow(0px 2px 2px #000);
}

.details {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    padding: 15px;
}

.results{
    display: flex;
    width: 100%;
    font-size: 17pt;
}

.progress-bar {
    /* --progress: 0; */
    height: 20px;
    padding: 5px;
    background-color: #eee;
    display: flex;
    width: 100%;
    border-radius: 7px;
}

.progress-bar::before {
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl(calc(var(--progress) * 1.2), 80%, 50%);
}

#imgPokemon {
    width: 50%;
    margin: 10px;
    filter: drop-shadow(13px 0px 7px #000);
}

.itemCabecalho {
    display: flex;
    justify-content: space-between;
}

.corpoDetalhe {
    display: flex;
    width: 100%;
    align-items: center;
}

.resultDetailsPokemon span,
.detailsPokemon span {
    text-shadow: #000 5px 1px 6px;
    text-transform: capitalize;
    margin: 10px;
}

.detailsPokemon {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.resultDetailsPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    margin: 0px 10px;
}
.resultDetailsPokemonBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.itemCabecalho .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
}

.itemCabecalho .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0.25rem;
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    .corpoDetalhe {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    #imgPokemon {
        width: 100%;
    }
    .results {
        font-size: 12pt;
    }
}